<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <nav class="navbar bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-2 user-select-none">TMO de México</a>
            <form class="d-flex" role="search">
                <a class="ms-5 mt-3 mb-3 form-control btn btn-danger bg-danger-gradient"
                    href="{{url_for('cerrar')}}">Cerrar Sesion</a>
            </form>
        </div>
    </nav>
</head>

<div class="mt-5"></div>

<body class=" bg-secondary-subtle">


    <div class="mt-5">
        {% block content %}{% endblock %}
    </div>



</body>

</html>